# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django static/media
staticfiles/
media/

# SQLite database
*.sqlite3

# Environment variables
.env

# VSCode/IDE
.vscode/
.idea/

# MacOS/Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Render specific
venv/
.venv/

# Migrations (optional)
**/migrations/*.pyc
**/migrations/__pycache__/
